.left-user-account {
    width: 30vw;
    align-items: center;
}

.right-user-account {
    width: 50vw;
}

.user-schedule-button {
    background: #2599fb 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border-radius: 5px;
    width: 5em;
    height: 5em;
    border: none;
    color: white;
    text-align: center;
    margin-top: 2em;
    margin-left: 14em;
    line-height: 5em;
    align-items: center;
}

.user-account {
    text-align: center;
    letter-spacing: 0.7px;
    color: gray;
    font-size: 30px;
    border-bottom: 0.7px solid gray;
    width: 60%;
    padding: 0.2em;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    .user-schedule-button {
        margin-top: 2em;
        margin-left: 2em;
        line-height: 5em;

    }

    * {
        font-size: 36px;
    }

    .store-container {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }

}
