.schedule {
    width: 100%;
    justify-content: center;
}

form.schedule_style {
    height: 80vh;
}

section.schedules-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 60%;
    background: #FFFFFFD6 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}

.schedule-form-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 80%;
    background: #FFFFFFD6 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}


.schedule-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.schedule-table thead tr {
    background-color: #2699FB;
    color: #ffffff;
    text-align: left;
}

.schedule-table th,
.schedule-table td {
    padding: 12px 15px;
}

.schedule-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.schedule-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.schedule-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.schedule-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media only screen and (max-device-width: 420px) {
    .schedule-form {
        height: 70vh;
    }
    .schedule-form-day {
        height: 30vh;
    }
}
