body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
}
html * {
    font-family: sans-serif;
}

.base-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #2599fb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 30%;

}

.logo {
    width: 50%;
    text-align: center;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 80%;
    background: #FFFFFFD6 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;

}
form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 80%;
    background: #FFFFFFD6 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;

}

button {
    background: #2599fb 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border-radius: 33px;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;

}

section.store-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

input {
    border: none;
    background: transparent;
    border-bottom: solid 0.5px gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 20vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #2699FB;
}


footer {
    width: 100%;
    height: 100px;
    background-color: #2699FB;
    display: flex;
    justify-content: center;
    margin: auto;
}


a {
    text-decoration: none;
    display: inline-block;
    line-height: 8em;
}

li i {
    font-size: 1.5em;
}


.button {
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    border-bottom: 0.7px solid gray;
    width: 60%;
    padding: 0.2em;
    line-height: 10em;

}

ul {
    list-style-type: none;
    color: white;
    letter-spacing: 0.72px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
}

li {
    text-align: left;
    margin-bottom: 1em;
}


#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    background: #2699FB no-repeat padding-box;
    height: 20vh;

}

#header2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
}

#header img {
    width: 20%;
    height: 20vh;
}


header.upper {
    height: 5vh;
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: #2599fb;
}

header.lower {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #2599fb;
    text-align: left;
    font: normal normal normal 22px/44px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
}


header > div {
    margin: 5px;
}

footer > div {
    margin: 2.5em;

}

.button-top {
    text-align: center;
    color: white;
    padding: 0.5em;
    background: #2699FB no-repeat padding-box;
    width: 5em;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 5vh;
    margin-right: 2.5vw;
}


.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
        font-family: sans-serif;
    }

    .login-container {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }

    .left-bar-buttons {
    }

    footer > div {
        margin: 1em;
    }

    li {
        font-size: 20px;
    }
    nav {
        width: 26vw;
        margin-left: 1em;

    }
    footer{
        width: 105%;
    }
}
